
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/addedmap.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script defer src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

    <title>添加API映射成功</title>

</head>


<body>

<ul class="menu">
    <li><a href="/management">|添加API数据|</a></li>
    <li><a href="/apimapadd">|添加API映射|</a></li>
    <li><a href="#"onclick="tankuang()" >|关于我们|</a></li>
</ul>

<div class="mytable">
    <h1>已添加API映射对如下：</h1>
    <table id="table-1">
        <thead>
        <th>Java API</th>
        </thead>
        <tbody>
        <tr>
            <td><a th:href="@{/addedmapresult(type=${'java'})}" style="color: white" th:text="${JavaAPI}"></a> </td>
        </tr>
        </tbody>
    </table>
    <table id="table-2">
        <thead>
        <th>Swift API </th>
        </thead>
        <tbody>
        <td><a th:href="@{/addedmapresult(type=${'swift'})}" style="color: white" th:text="${SwiftAPI}"></a></td>
        </tbody>
    </table>

</div>

<div class="copy-rights">
    <p>Copyright &copy; 2020.NJU-Lichenwei</p>
</div>
</body>
<script>
    /*function openWindow(url,w,h)
    {
    var left=(window.screen.width-w)/2;
    var top=(window.screen.height-h)/2;
    window.open(url, "", "height="+h+", width="+w+",top="+top+",left="+left+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
    }*/
</script>
</html>
