
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/apimapadd.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <script type="text/javascript">
        function tankuang() {
            alert("Designed by 李宸玮\n2020.6")
        }/*弹出对话框*/
        function confirmAdd(){
            if(!confirm("请确认数据无误后添加！")){
                return false;
            }
            else{
                return true;
            }
        }
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script defer src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <title>API映射管理：API映射添加</title>

</head>


<body>

<ul class="menu">
    <li><a href="/management">|添加API数据|</a></li>
    <li><a href="/apimapadd" >|添加API映射|</a></li>
    <li><a href="/apimapadd"onclick="tankuang()" >|关于我们|</a></li>
</ul>

<div class="api-add">
    <form action="/addedmap" method="post">
        <p>JavaAPI全称：<input type="text" name="javaFullName" style="width:470px;font-size: medium;font-weight: bold;font-family: 'italic', serif"> </p>
        <p>SwiftAPI全称:<input type="text" name="swiftFullName" style="width:470px;font-size: medium;font-weight: bold;font-family: 'italic', serif"></p>
        <div class="signin">
            <input type="submit" name="addmap" onclick="return confirmAdd();" value="添加一组API映射"  >
        </div>
    </form>
</div>


<div class="copy-rights">
    <p>Copyright &copy; 2020.NJU-Lichenwei</p>
</div>
</body>
<script>
    /*function openWindow(url,w,h)
    {
    var left=(window.screen.width-w)/2;
    var top=(window.screen.height-h)/2;
    window.open(url, "", "height="+h+", width="+w+",top="+top+",left="+left+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
    }*//*弹窗*/
</script>
</html>
