
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/mapmethods.css">
    <link rel="stylesheet" href="css/iconfont.css">

    <script type="text/javascript">
        function tankuang() {
            alert("Designed by NJU-李宸玮\n 2020.6")
        }/*弹出对话框*/
    </script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script defer src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

    <title>查询API结果：该类中有多个同名方法</title>

</head>


<body>

<ul class="menu">
    <li><a href="/homepage">|API信息查询|</a></li>
    <li><a href="/maphomepage" target="_self">|API映射索引|</a></li>
    <li><a href="/login" target="_blank">|管理API映射|</a></li>
    <li><a href="#" onclick="tankuang()">|关于我们|</a></li>
</ul>

<div class="mytable">
    <table id="table-1">
        <thead>
        <th>为您查询到此类有多个同名api！（点击名称进一步查看具体映射）</th>

        </thead>
        <tbody>
        <tr style="height: 32px" th:each="mapmethodCur,stat:${mapmethodsList}">
            <td><a th:href="@{/javamapswiftresult(id=${stat.index})}" style="color: white" th:text="${mapmethodCur.getFullName()}"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="copy-rights">
    <p>Copyright &copy; 2020.NJU-Lichenwei</p>
</div>
</body>
<script>
    /*function openWindow(url,w,h)
    {
    var left=(window.screen.width-w)/2;
    var top=(window.screen.height-h)/2;
    window.open(url, "", "height="+h+", width="+w+",top="+top+",left="+left+", toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
    }*/
</script>
</html>
