/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
    background: url(../images/management2.png) no-repeat 0px 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
.menu {
    top:0px;
    width: 1000px;/*700*/
    text-align: center;
    height: 55px;
    /*设置元素水平居中*/
    margin: 0px auto;
    /*去除内联元素间隙*/
    font-size: 0;
    /*去掉ul自带的.格式*/
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.menu li{
    /*将元素转换为行内块元素*/

    display:inline-block;
    width:150px;
    height:50px;
    border:2px solid #000000;
    background-color: #000000;
    font-size:35px;
    /*将边框合并*/
    margin-right:-1px;
    text-align:center;
    line-height:48px;
}
.menu a{
    /*text-shadow: 0 1px 1px #fff;*/
    font-family: "NSimSun";
    font-size: large;
    font-weight: 900;
    color: #f0f2f0;
    /*去掉a元素的下划线*/
    text-decoration: none;
}
/*鼠标位于元素位置时改变元素样式*/

.menu li:hover{
    background-color: #ff0a25;
}

.menu a:hover{
    color: #f4f7ff;
    font-weight: 900;
    text-shadow: 0 1px 1px #cab0ff;
}

.wrap{
    margin: 0 auto;
    width: 80%;
}

.api-add{
    position: relative;
    width: 60%;
    margin: 8% auto 0 auto;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
}
.api-add p{
    font-family: "NSimSun",serif;
    font-size: large;
    color: white;
    font-weight: bold;
    line-height: 30px;
}
.copy-rights{
    position: absolute;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    bottom: 0px;
}
.copy-rights p{
    color:#FFF;
    font-size: 1em;
    line-height:1.8em;
}

input[type="submit"]{
    font-size: 20px;
    font-family: 'italic', serif;
    font-weight: bolder;
    color: #fff;
    outline: none;
    border: none;
    background: #ff0a25;
    width: 80%;
    padding: 0px 0;
    margin-top: 0em;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -o-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -o-border-bottom-right-radius: 15px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #6a9aff;
    font-family: 'italic', serif;
    font-weight: bolder;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -o-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -o-border-bottom-right-radius: 15px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}

.copy-rights p a{
    color:#ff2a75;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration:none;
}
.copy-rights p a:hover{
    color:#3faa53;
    text-decoration:none;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
}
/*--/copyrights--*/